@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import './styles/pagination.css';
@layer reset, base, tokens, recipes, utilities;

@layer base {
    * {
        box-sizing: border-box;
    }

    :root {
        font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

        color-scheme: dark;
        color: var(--foreground);
        background-color: var(--background);

        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        margin: 0;
    }
    body::-webkit-scrollbar {
        width: 5px;
    }
    body::-webkit-scrollbar-track {
    }
    body::-webkit-scrollbar-thumb {
        background: #555;
    }
    body::-webkit-scrollbar-thumb:hover {
        background: #888;
    }
}

@layer tokens {
    :root {
        --foreground: #fdfffc;
        --background: #020100;
        --overlay: rgba(0, 0, 0, 0.8);
        --accent: rgba(255, 255, 255, 0.1);
        --brand: #f9a8d4;
        --disabled: #525252;
    }
}
